<div id="mainCoantiner">
    <!--dust particel-->
    <div>
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!--Dust particle end--->
</div>
<!-- SECTION -->
<div class="section" style="background-color: #181828;min-height: 700px;padding-top: 70px;">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-5 " name="">
                <div class="login-box">
                    <h2>Đổi mật khẩu</h2>
                    <form name="frm">
                        <div class="user-box">
                            <input type="email" ng-model="account.email" name="email" disabled>
                            <label>
                        </label>
                        </div>

                        <div class="user-box">
                            <input type="password" ng-model="password1" name="password" required>
                            <label>Mật khẩu cũ
                                <span class="label-error" ng-if="frm.password1.$error.required && frm.password1.$dirty" >Không để trống mật khẩu cũ</span>
                            </label>
                        </div>
                        <div class="user-box">
                            <input type="password" ng-model="password2" name="password2" required>
                            <label>Mật khẩu mới
                                <span class="label-error" ng-if="frm.password2.$error.required && frm.password2.$dirty" >Không để trống mật khẩu mới</span>
                            </label>
                        </div>
                        <div class="user-box">
                            <input type="password" ng-model="confirm" name="confirm" required>
                            <label>Nhập lại mật khẩu
                                <span class="label-error" ng-if="frm.confirm.$error.required && frm.confirm.$dirty" >Không để trống nhập lại MK</span>
                                <span class="label-error" ng-if="password2!=confirm && frm.confirm.$dirty && !frm.confirm.$error.required" >Mật khẩu không khớp</span>
                            </label>
                        </div>
                        <div ng-hide="!error" class="user-box"><label style="color: red;">{{error}}</label></div>
                        <div class="user-box" ng-show="success">
                            <label id="time" style="color: cyan;"></label></div>
                        <br ng-if="error">
                        <button ng-click="changePass()">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span> Đổi mật khẩu
                        </button>
                    </form>
                </div>
            </div>
            <div class=" col-md-5 col-md-push-2" name="">
                <img style="margin-top: 100px;" src="https://media1.giphy.com/media/Rm3SJ0id6L9ZDLotBH/giphy.gif?cid=790b76112c09a2b79e95cdabc4b6ea30618a1baa2413b538&rid=giphy.gif&ct=sf" alt="">
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->

</div>